@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: hsl(27, 66%, 92%);
    font-size: 18px;
    font-family: 'DM Sans', sans-serif;
}

.container {
    width: 500px;
    height: 500px;
    margin: 50px auto;
}

.header-card {
    background-color: hsl(10, 79%, 65%);
    display: grid;
    grid-template-columns: 1fr 80px;
    padding: 1.5rem;
    border-radius: 12px;
    color: white;
}

.header-card div h1 {
    font-weight: 400;
    font-size: 15px;
}

.header-card div p {
    font-weight: 700;
    font-size: 28px;
}

.principal-card {
    margin-top: 10px;;
    height: 380px;
    background-color: white;
    border-radius: 10px;

}

.principal-card h1{
    color: hsl(25, 47%, 15%);
    padding: 1rem 1rem 0 2rem;
    font-weight: 700;
    font-size: 24px;
}


.menu-card ul {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    padding: 0 2rem 2rem 2rem;
    align-items: flex-end;
}

.menu-card ul li {
    text-align: center;
    align-items: center;
}

.add {
    height: 30px;
    width: 55px;
    margin: 0 auto;
    border-radius: 5px;
    margin-bottom: 5px;
    padding-top: 5px;
    color: white;
    font-size: 15px;
}

.show {
    width: 40px;
    background-color: hsl(10, 79%, 65%);
    border-radius: 5px;
    margin: 0 auto;
}
.wed-show{
    width: 40px;
    height: 120px;
    background-color:hsl(186, 34%, 60%);
    border-radius: 5px;
    margin: 0 auto;
}

#mon-div{
    height: 40px;
}

#tue-div{
    height: 80px;
}

#thu-div {
    height: 70px;
}

#fri-div {
    height: 50px;
}


#sat-div {
    height: 100px;
}

#sun-div {
    height: 65px;
}

.wed-show:hover{
    cursor: pointer;
    background-color: hsl(186, 34%, 60%,85%);
}

.show:hover{
    cursor: pointer;
    background-color: hsl(10, 79%, 65%,80%);
}

.final-card{
    border-top: 1px solid hsl(28, 10%, 53%);
    display: grid;
    grid-template-columns: 1fr 150px;
    width: 450px;
    margin: 0 auto;
    padding-top: 40px;
}

.first-card{
    font-weight: 700;
    color: hsl(25, 47%, 15%);
    font-size: 32px;
}

.first-card p:first-child{
    font-weight: 400;
    font-size: 15px;
    color: hsl(28, 10%, 53%);
}

.second-card{
    text-align: right;
    padding-top: 18px;
    font-weight: 400;
    font-size: 15px;
    color: hsl(28, 10%, 53%);
}

.second-card p:first-child{
    font-weight: 700;
    color: hsl(25, 47%, 15%);
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}